/* !!! DO NOT CHANGE THE Z-INDEX !!!
It destroys the interactible nature of the pie chart */

.centeredPie {
    position: fixed;
    top: 50%;
    left: 45%;
    margin-top: -400px;
    /*half the image height*/
    margin-left: -400px;
    /*half the image width*/
    width: 900px;
    height: 800px;
}
.google-visualization-tooltip {
    padding: 1px;
    text-align: center;
}
.google-visualization-tooltip-item-list {
    padding: 0px;
    margin: 0px;
}
.google-visualization-tooltip-item {
    padding: 0px;
    margin: 0px;
}
.test {
    color: 'black';
    background-color: 'white';
    padding: 5px 5px 5px 5px;
    text-transform: capitalize;
}