/* !!! DO NOT CHANGE THE Z-INDEX !!!
It destroys the interactible nature of the pie chart */

.centeredPie {
    position: fixed;
    top: 40%;
    left: 40%;
    margin-top: -400px;
    /*half the image height*/
    margin-left: -400px;
    /*half the image width*/
    width: 100px;
    height: 900px;
}